/* src/app/navbar/navbar.component.css */
.navbar-custom {
    background-color: #2469a5;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.navbar-custom .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-custom .btn-logout {
    background-color: #2469a5;
    color: #fff;
}
  