<nav class="navbar navbar-dark navbar-custom">
  <a class="navbar-brand" style="padding-left: 15px;" href="#">E-Employee</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <button (click)="btnLogout()" class="btn btn-logout">Logout</button>
    </li>
  </ul>
</nav>