<div class="container-fluid">
    <div class="login-panel">
        <div class="column left">
            <div class="content">
                <img src="../../assets/images/content-hr.png">
            </div>
        </div>
        <div class="column right">
            <div class="information text-center">
                <h3>Login</h3>
                <p>Employee Managament System</p>
                <div class="row">
                    <div *ngIf="loginError" class="error-message">Invalid username or password !</div>
                    <div class="form-group mb-3">
                        <input class="form-control" placeholder="Username" type="text" id="username" [(ngModel)]="username" required>
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" placeholder="Password" type="password" id="password" [(ngModel)]="password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" (click)="login()">LOGIN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>