body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2; 
}

img {
    max-width: 100%;
}

.login-panel {
    width: 600px;
    height: 400px;
    max-width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 30px auto;
}

.column {
    flex: 1;
    padding: 20px;
    position: relative;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.column.right {
    padding: 0px !important;
    background-image: url('../../assets/images/E-Employe.png');
}

.column.right .information{
    color: #fff;
    padding: 20px;
}

.error-message {
    color: #fff;
    margin-top: 10px;
}

.btn-primary {
    background-color: #feb600;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .login-panel .column.left {
      display: none;
    }
    .login-panel {
        height: auto;
    }
}