<app-navbar></app-navbar>
<div class="container mb-5 mt-3">
  <h3 class="mb-5">Employee List</h3>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <label for="searchUsername"><b>Username: </b></label>
      <input class="form-control" type="text" id="searchUsername" [(ngModel)]="searchUsername">
    </div>
    <div class="col-md-3 col-sm-12">
      <label for="searchName"><b>Name: </b></label>
      <input class="form-control" type="text" id="searchName" [(ngModel)]="searchName">
    </div>
    <div class="col-sm-12 mt-3">
      <button class="btn btn-primary-outline btn-sm" style="margin-right: 15px;" routerLink="/employee-add"><i class="fa fa-plus"></i> Add</button>
      <button class="btn btn-primary btn-sm" (click)="onSearch()">Search</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-2">
      <label for="pageSize">Page Size:</label>
      <select id="pageSize" [(ngModel)]="pageSize">
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sortColumn('username')">Username <i class="fa fa-filter"></i></th>
          <th (click)="sortColumn('firstName')">Full Name <i class="fa fa-filter"></i></th>
          <th (click)="sortColumn('birthDate')">Birth Date <i class="fa fa-filter"></i></th>
          <th (click)="sortColumn('basicSalary')">Basic Salary <i class="fa fa-filter"></i></th>
          <th (click)="sortColumn('status')">Status <i class="fa fa-filter"></i></th>
          <th (click)="sortColumn('group')">Group <i class="fa fa-filter"></i></th>
          <th>Action <i class="fa fa-filter"></i></th>
        </tr>
      </thead>
      <tbody>
        <!-- Implementasi looping data dan tampilkan sesuai paging -->
        <tr *ngFor="let employee of employees | slice:(currentPage-1)*pageSize:currentPage*pageSize">
          <td>{{ employee.username }}</td>
          <td>{{ employee.firstName +' '+ employee.lastName }}</td>
          <td>{{ employee.birthDate }}</td>
          <td>{{ formatCurrency(employee.basicSalary) }}</td>
          <td>{{ employee.status }}</td>
          <td>{{ employee.group }}</td>
          <td class="button-list">
            <button class="btn btn-secondary btn-sm" (click)="openModal(employee.username)"><i class="fa fa-eye"></i></button>
            <button class="btn btn-primary btn-sm" (click)="showNotification('Edit')" style="background-color: #feb600;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-primary btn-sm" (click)="showNotification('Delete')" style="background-color: red;"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="d-flex justify-content-center align-items-center mt-3">
    <button class="btn btn-primary mr-2" (click)="prevPage()" [disabled]="currentPage === 1">
      <span aria-hidden="true">&laquo;</span>
      <span class="sr-only">Previous</span>
    </button>
    <span class="mr-2" style="margin: 0 15px;">{{ currentPage }} / {{ totalPages() }}</span>
    <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages()">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </button>
  </div>  
</div>
  
<!-- Modal Detail Employee -->
<div class="modal" #modalDetailEmployee id="modalDetailEmployee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Detail Employee</h4>
      </div>
      <div class="modal-body">
        <p><strong>Username:</strong> {{ selectedEmployee?.username }}</p>
        <p><strong>Full Name:</strong> {{ selectedEmployee?.firstName }} {{ selectedEmployee?.lastName }}</p>
        <p><strong>Birth Date:</strong> {{ selectedEmployee?.birthDate }}</p>
        <p><strong>Email:</strong> {{ selectedEmployee?.email }}</p>
        <p><strong>Status:</strong> {{ selectedEmployee?.status }}</p>
        <p><strong>Group:</strong> {{ selectedEmployee?.group }}</p>
        <p><strong>Basic Salary:</strong> {{ formatCurrency(selectedEmployee?.basicSalary) }}</p>
        <p><strong>Description:</strong> {{ selectedEmployee?.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm close" (click)="closeModal()">Ok</button>
      </div>
    </div>
  </div>
</div>