.button-list button{
    margin-right: 5px;
    margin-bottom: 5px;
}

.modal-backdrop {
    display: none;
    z-index: 1040;
}

.modal {
    display: none;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    color: #000;
    display: block; /* atau sesuai kebutuhan */
}