/* You can add global styles to this file, and also import other style files */
body {
    font-size: 14px;
}

table th{
    cursor: pointer;
}

.btn-primary {
    background-color: #2469a5;
    border-color: #2469a5; /* warna border sesuai dengan warna background */
    color: #fff; /* warna teks */
}

.btn-primary-outline {
    color: #2469a5; /* warna teks */
    border-color: #2469a5; /* warna border sesuai dengan warna background */
    background-color: #fff;

}

.btn-primary:hover {
    background-color: #185180;
    border-color: #185180;
}

.btn-edit{
    background-color: #1a5289;
    border-color: #1a5289;
    color: #fff;
}

.form-control {
    font-size: 14px;
    border-radius: unset;
}

.navbar-custom {
    background-color: #2469a5;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.navbar-custom .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-custom .btn-logout {
    background-color: #2469a5;
    color: #fff;
}