button {
    margin-right: 15px;
}

.content {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #eaeaea;
    padding: 20px;
    box-shadow: 1px 1px 1px #eaeaea;
}

.form-group {
    margin-bottom: 15px;
}
.icon-required {
    color: tomato;
}