<app-navbar></app-navbar>
<div class="container">
  <div class="content row">
    <h3>Add Employee</h3>
    <hr>
    <form (ngSubmit)="onSubmit(employeeForm)" #employeeForm="ngForm">
      <div class="form-group row">
        <div class="col-md-6">
          <label for="firstName">First Name <small class="icon-required"><i>*</i></small></label>
          <input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="employee.firstName">
        </div>
        <div class="col-md-6">
          <label for="lastName">Last Name <small class="icon-required"><i>*</i></small></label>
          <input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName">
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username <small class="icon-required"><i>*</i></small></label>
        <input class="form-control" type="text" id="username" name="username" [(ngModel)]="employee.username">
      </div>
      <div class="form-group">
        <label for="email">Email <small class="icon-required"><i>*</i></small></label>
        <input class="form-control" type="email" id="email" name="email" [(ngModel)]="employee.email">
      </div>
      <div class="form-group">
        <label for="basicSalary">Basic Salary <small class="icon-required"><i>*</i></small></label>
        <input class="form-control" type="number" id="basicSalary" name="basicSalary" [(ngModel)]="employee.basicSalary">
      </div>
      <div class="form-group">
        <label for="status">Status <small class="icon-required"><i>*</i></small></label>
        <select name="status" id="status" class="form-control">
          <option value="">-- Select Status --</option>
          <option value="active">Active</option>
          <option value="no active">No Active</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="group">Group <small class="icon-required"><i>*</i></small></label>
        <select name="status" id="group" class="form-control">
          <option value="">-- Select Group --</option>
          <option value="IT">IT</option>
          <option value="Operational">Operational</option>
          <option value="Management">Management</option>
          <option value="Sales">Sales</option>
          <option value="Marketing">Marketing</option>
          <option value="HR">HR</option>
          <option value="Security">Security</option>
          <option value="Accounting">Accounting</option>
          <option value="Customer Service">Customer Service</option>
          <option value="Tele Marketing">Tele Marketing</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="birthDate">Birth Date <small class="icon-required"><i>*</i></small></label>
        <input class="form-control" type="date" id="birthDate" name="birthDate" [max]="dateToday" [(ngModel)]="employee.birthDate">
      </div>
  
      <div class="form-group">
        <label for="description">Description <small class="icon-required"><i>*</i></small></label>
        <input class="form-control" type="date" id="description" name="description" [(ngModel)]="employee.description">
      </div>
  
      <div style="margin-top:15px">
        <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">Save</button>
        <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
  